<div class="jumbotron-bg">
  <div class="jumbotron-content">
    <div class="jumbotron-header">
      <div class="jumbotron-title">
        <h1 class="header white">A fun place to share<br>anything with everyone</h1>
        <h3 class="white">From recipes to movie review, here you can find all kind of stuff.</h3>
        <button class="circular ui icon inverted button">GET STARTED</button>
        <button class="circular ui inverted button">LEARN MORE</button>
      </div>
      <div class="draw">
        <%= image_tag('home.svg', size: '440x220', style: 'margin-right: 20px; margin-top:10px;') %>
      </div>
    </div>
  </div>
</div>