
<div class="spacing-footer">
<div class="ui inverted vertical footer segment">
  <div class="ui container">
    <div class="ui centered segment stackable inverted divided equal height stackable grid">
      <div class="three wide column">
        <h4 class="ui inverted header">About</h4>
          <div class="ui inverted link list">
            <a class="item" href="#">Lorem Ipsum</a>
            <a class="item" href="#">Lorem Ipsum</a>
            <a class="item" href="#">Lorem Ipsum</a>
          </div>
      </div>
      <div class="three wide column">
        <h4 class="ui inverted header">Lorem Ipsum</h4>
          <div class="ui inverted link list">
            <a class="item" href="#">Lorem Ipsum</a>
            <a class="item" href="#">Lorem Ipsum</a>
            <a class="item" href="#">Lorem Ipsum</a>
          </div>
      </div>
      <div class="three wide column">
        <h4 class="ui inverted header">Lorem Ipsum</h4>
          <div class="ui inverted link list">
            <a class="item" href="#">Lorem Ipsum</a>
            <a class="item" href="#">Lorem Ipsum</a>
            <a class="item" href="#">Lorem Ipsum</a>
          </div>
      </div>
    </div>
  </div>
</div>
</div>