<div class="navbar-bg">
  <div class="navbar white">
    <div class="ui text menu large navbar secondary">
      <a class="brand item">
        <h2 class="ui header white">
          <div class="content spacing-top">
            ALPHA BLOG
          </div>
        </h2>
      </a>
      <a class="active item white navbar-links stroke-effect spacing-left spacing-top">
          Home
        </a>
        <a class="item white navbar-links spacing-top">
          About
        </a>
        <a class="item white navbar-links spacing-top">
          Articles
        </a>
        <a class="item white navbar-links spacing-top">
          Categories
        </a>
      <div class="right menu">
        <a class="ui item white">
          <button class="ui inverted button">Sign In</button>
        </a>
        <a class="ui item white">
          <button class="ui inverted button">Sign Up</button>
        </a>
      </div>
    </div>
  </div>
</div>
